body {
  background-color: black;
}
div#game {
  z-index: 1;
}

div#game > canvas {
}

video {
  width: 1500px;
  position: absolute;
  left: 150px;
  top: 10px;
  z-index: 10000;
  opacity: 0.5;
  transform: scaleX(-1);
}

canvas#webcam-image {
  display: none;
  opacity: 0;
  width: 640px;
  height: 480px;
}
